* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: unset;
}

body {
    background: #141515;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

section {
    margin-bottom: 60px;
}

.wrapper-document {
    width: 100%;
    min-width: 320px;
}

.blank-space {
    display: none;
}

.navbar {
    margin-top: 3px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
}

.navbar-logo {
    width: 75px;
}

.hamburger {
    display: inline-block;
    border: none;
    outline: none;
    background: transparent;
    padding: 0 15px;
}

.hamburger-middle-line {
    position: relative;
    vertical-align: middle;
}

.hamburger-middle-line,
.hamburger-middle-line::after,
.hamburger-middle-line::before {
    display: inline-block;
    width: 25px;
    height: 1.5px;
    background: #F38A03;
    transition: transform 200ms, top 200ms;
}

.hamburger-middle-line::after,
.hamburger-middle-line::before {
    content: '';
    position: absolute;
    left: 0;
}

.hamburger-middle-line::before {
    top: -6px;
}

.hamburger-middle-line::after {
    bottom: -6px;
}

.hamburger.active > .hamburger-middle-line::before, 
.hamburger.active > .hamburger-middle-line::after {
    top: 0;
}

.hamburger.active > .hamburger-middle-line::before {
    transform: rotate(45deg);
}

.hamburger.active > .hamburger-middle-line::after {
    transform: rotate(-45deg);
}

.hamburger.active > .hamburger-middle-line {
    background: transparent;
}


.navbarmenu {
    display: none;
    list-style: none;

    width: 100%;

    background: rgba(0,0,0,.9);
    font-size: 20px;
    font-weight: 500;
    text-align: center;

    position: absolute;
    left: 0;

    z-index: 1;
}

.navbarmenu-item {
    padding: 25px;
}

.navbarmenu-item:hover {
    background: rgba(255,255,255,0.1);
}

.navbarmenu-item > a:hover {
    color: rgba(255,255,255,.5);
}

.title {
    height: 443px;
    margin-bottom: 105px;
    padding: 40px 10px;

    background-image: url('../images/bg-header.png');
    background-repeat: no-repeat;
    background-position: 89% bottom;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: relative;
}

.title-header {
    padding: 40px 30px;
    position: relative;

    background-color: #000;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
}

.website-link {
    margin: 15px 0 0 65px;
    padding: 8px 33px;
    background-color: #000;
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
    cursor: pointer;
}

.title::after {
    content: '';
    width: 266px;
    height: 65px;
    background-color: #ED1260;
    
    position: absolute;
    bottom: -65px;
    right: 0;
}

.main-text {
    margin: 0 50px;
    font-size: 16px;
}

.energym-activities {
    list-style: none;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.activity-item {
    width: 50%;
    margin-bottom: 20px;
    text-align: center;
}

.activity-icon-wrapper {
    width: 65px;
    height: 65px;
    margin: 0 auto;
    line-height: 65px;
}

.activity-icon {
    vertical-align: middle;
}

.activity-text {
    padding: 5px;
    font-size: 14px;
}

.map {
    margin: 30px 15px 60px;
    padding: 15px 15px 0;
    border: 5px solid #ED1260;
    max-width: 579px;
    margin: 0 auto;
}

.map-frame {
    width: 100%;
    position: relative;
    line-height: 0;
}

.map-image {
    width: 100%;
}

.map-placeholder {
    position: absolute;
    top: 46%;
    left: 54%;
    transform: translate(-50%, -100%);
}

.map-caption {
    padding: 7px;
    font-size: 12px;
    text-align: center;
}

.contacts {
    width: 100%;
    border: 5px solid #F38A03;
}

h4.sec-title {
    margin: 20px auto;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

.contacts-list {
    list-style: none;
    position: relative;
}

.contacts-item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.contacts-icon {
    height: 25px;
    width: 25px;
    margin-right: 20px;
}

.contacts-info-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.contacts-type {
    display: none;
}

.contacts-info,
.contacts-type {
    padding: 2.5px 0;
}

@media screen and (min-width: 768px) {
    .wrapper-document {
        max-width: 1280px;
        margin: 0 auto;
        padding-left: 90px;
    }

    .wrapper-content {
        margin-right: 171px;
        margin-left: auto;
        max-width: 1050px;
    }

    .navbar {
        margin-right: 81px;
        padding: 0;
        justify-content: flex-end;
    }

    .navbar-logo {
        width: 90px;
        margin-left: -90px;
        margin-right: auto;
    }

    .hamburger {
        display: none
    }

    .navbarmenu {
        max-width: 1050px;
        position: unset;
        background: unset;
        
        display: flex;
        justify-content: flex-end;
        padding: 0;
    }

    .navbarmenu-item {
        margin: 28px 80px 28px 0;
        padding: 0;
    }

    .navbarmenu-item:last-child {
        margin-right: 0;
    }

    .navbarmenu-item:hover {
        background: unset;
    }

    .navbarmenu-item > a:hover {
        color: rgba(255,255,255,.5);
    }

    .title {
        height: 513px;
        margin-bottom: 40px;
    }

    .title::after {
        width: 90px;
        height: 347px;
        right: -90px;
        top: 0;
    }

    .main-text {
        margin-right: 0; 
    }

    .activity-item {
        width: 33%;
        margin: 0;
        margin-bottom: 40px;
    }

    .activity-text {
        padding: 5px;
        font-size: 18px;
    }
    
    .map {
        min-width: 579px;
    }

    .map-placeholder {
        width: 16px;        
        position: absolute;
        top: 46%;
        left: 54%;
        transform: translate(-50%, -100%);
    }

    .contacts {
        border: unset;
    }

    h4.sec-title {
        margin: 100px 0 75px 0;
        font-size: 45px;
        text-align: left;
    }

    .contacts-list {
        display: flex;
        justify-content: space-between;
    }

    .contacts-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
    }

    .contacts-icon {
        margin-bottom: 30px;
        width: 45px;
        height: 45px;
    }

    .contacts-info-wrapper {
        font-size: 25px;
        align-items: center;
    }
    
    .contacts-type {
        display: unset;
    }

    .contacts-info,
    .contacts-type {
        padding: 3.5px 0;
    }
}





