.table {
    border-collapse: collapse;
}

.td {
    border:1px solid black;
    width: 10px;
    height: 10px;
}

.td.clicked {
    background-color: black;
}

.table.invBackColor .td.clicked {
    background-color: white;
}

.table.invBackColor .td {
    background-color: black;
}

