* {
    box-sizing: border-box;
}

body {
    background-color: #3a4965;
}

.f-reg {
    font-family: 'arimoregular', sans-serif;
}

.f-bold {
    font-family: 'arimobold', sans-serif;
}

.wrapper-document {
    height: 100vh;
    color: rgb(72,72,72);
    position: relative;
}

/*main*/
/*------table------*/
.table-price { /*whole table*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #fafafa;
}

th,
td { /*all cell*/
    padding: 18px 18px;
    color: #484848;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
}

td { /*cell w/o header cell*/
    border-top: 1px solid #d3d3d3;
}

th { /*all th*/
    font-weight: bold;
    font-size: 24px;
}

td:nth-of-type(2n),
th:nth-of-type(2n+1) { /*every even col*/
    background-color: #f2f2f2;
}

td:nth-of-type(2n+1),
th:nth-of-type(2n) { /*every odd col*/
    background-color: #e3e3e3;
}

.first-row { /*first row*/
    min-width: 185px;
    height: 113px;
}

.first-col { /*first col*/
    min-width: 230px;
    padding: 18px 23px;
    white-space: nowrap;
}


.title-chose { /*chose your*/
    font-size: 14px;
}

.title-price { /*pricing plan*/
    font-size: 20px;
}

i {
    color: #848484;
}

.first-col.standard {
    background-color: #89c331;
    color: #fff;
    font-size: 24px;
}

.first-col.ultimate {
    background-color: #f04a56;
    color: #fff;
    font-size: 24px;
}

.first-col.premium {
    background-color: #20807c;
    color: #fff;
    font-size: 24px;
}

/*price-cell*/
.price-name {
    margin-bottom: 16px;
}

.price-sum-int {
    line-height: 36px;
    font-size: 36px;
    vertical-align: middle;
} 

.price-sum-afterpoint {
    line-height: 36px;
    font-size: 18px;
    vertical-align: text-bottom;
}

.price-period {
    line-height: 36px;
    font-size: 14px;
    font-weight: 400;
    vertical-align: middle;
}

/*button*/
.btn {
    width: 144px; height: 41px;
    margin-top: 23px;
    box-sizing: border-box;
    border: none;
    padding: 0;
    padding-top: 5px;
    border-radius: 5px;
    border-bottom: 5px solid #404040;
    background-color: #484848;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    filter: brightness(115%);
}

.btn:active {
    height: 36px;
    padding-top: 0;
    border: none;
    margin-top: 28px;
}
