* {
    box-sizing: border-box;
}

body {
    background-color: #3a4965;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.wrapper-document {
    /* min-width: 650px;
    min-height: 640px; */
    height: 100vh;
    font-family: 'Arimo', sans-serif;
    color: rgb(72,72,72);
}

/*main*/
/*------table------*/
.table-price { /*whole table*/
    margin: 24px auto;
    background-color: #fafafa;
}

th,
td { /*all cell*/
    min-width: 277px;
    height: 69px;
    /* padding: 18px 33px; */
    color: #484848;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
}

td { /*cell w/o header cell*/
    border-left: 1px solid #d3d3d3;
}

tr+th { /*first col header*/
    min-width: 230px;
}

tbody>tr:nth-of-type(2n+1) { /*tbody every odd row*/
    background-color: #f2f2f2;
}

tbody>tr:nth-of-type(2n) { /*tbody every even row*/
    background-color: #e3e3e3;
}

/*------thead------*/
thead { /*whole thead*/
    font-weight: bold;
}

thead>tr { /*thead first row*/
    height: 70px;
}

thead>tr+tr { /*thead second row*/
    height: 86px;
}

.th-title-chose { /*chose your*/
    font-size: 18px;
}

.th-title-price { /*pricing plan*/
    font-size: 30px;
}

th.standard {
    background-color: #89c331;
    color: #fff;
    font-size: 24px;
}

th.ultimate {
    background-color: #f04a56;
    color: #fff;
    font-size: 30px;
}

th.premium {
    background-color: #20807c;
    color: #fff;
    font-size: 24px;
}

/*price-cell*/
.price-sum-int, 
.price-wrapper {
    display: inline-block;
    vertical-align: middle;
}

.price-sum-afterpoint, 
.price-period {
    display: block;
    text-align: left;
    
}

.price-sum-int {
    font-size: 60px;
} 

.price-sum-afterpoint
 {
    font-size: 24px;
}

.price-period {
    font-size: 18px;
    font-weight: 400;
}

/*------tfoot------*/
tfoot>tr { /*tfoot row*/
    height: 110px;
}

.btn {
    width: 192px; height: 49px;
    box-sizing: border-box;
    border: none;
    padding: 0;
    padding-top: 9px;
    border-radius: 5px;
    border-bottom: 9px solid #404040;
    background-color: #484848;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.btn.standard {
    background-color: #89c331;
    border-bottom-color: #79b027;
}

.btn.ultimate {
    background-color: #f04a56;
    border-bottom-color: #df3a46;
}

.btn.premium {
    background-color: #20807c;
    border-bottom-color: #16736f;
}

.btn:hover {
    filter: brightness(115%);
}

.btn:active {
    height: 40px;
    padding-top: 0;
    border: none;
    margin-top: 9px;
}


/*------tbody------*/
tbody tr:hover {
    border-top: 2px solid #696969;;
    border-bottom: 2px solid #696969;;
}

tbody th {
    line-height: 24px; 
    vertical-align: middle;
}

tbody th i {
    color: #848484;
    font-size: 24px;
    padding-right: 12px;
    vertical-align: middle;
}