<footer class="section footer">
    <h4 class="section__title footer__title">- get in touch with us -</h4>
    <p class="footer__text">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. <span class="footer__text-extended">Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</span></p>
    <div class="footer__social-icons">
        <a href="#"></a><i class="footer__social-icon footer__social-icon--rss"></i></a>
        <a href="#"><i class="footer__social-icon footer__social-icon--facebook"></i></a>
        <a href="#"><i class="footer__social-icon footer__social-icon--twitter"></i></a>
        <a href="#"><i class="footer__social-icon footer__social-icon--dribbble"></i></a>
        <a href="#"><i class="footer__social-icon footer__social-icon--pinterest"></i></a>
    </div>
    <p class="footer__contacts">
        <span>Moonshine St. 14-05 Light City&nbsp;&nbsp;/&nbsp;&nbsp;</span>
        <span>T. +00 (123) 456 78 90&nbsp;&nbsp;/&nbsp;&nbsp;</span>
        <span>first.last@email.com</span>
    </p>
</footer>