<section class="section">
    
    <p class="section__link"><a href="#">go to our instagram page -</a></p>
    <h4 class="section__title">- Last Instagram Shot</h4>
    

    <ul class="instagram-shots">
        <li class="instagram-shots__item instagram-shots__item--latest">
            <img src="./img/insta-1.png" alt="Latest Instagram shot" class="instagram-shots__image">
        </li>
        <li class="instagram-shots__item">
            <img src="./img/insta-2.png" alt="Latest Instagram shot" class="instagram-shots__image">
        </li>
        <li class="instagram-shots__item">
            <img src="./img/insta-3.png" alt="Latest Instagram shot" class="instagram-shots__image">
        </li>
        <li class="instagram-shots__item instagram-shots__item--oldest">
            <img src="./img/insta-4.png" alt="Latest Instagram shot" class="instagram-shots__image">
        </li>
    </ul>

</section>