<nav class="navbar">
    <button class="navbar__hamburger hamburger">
        <span class=hamburger__middle-line></span>
    </button>
    <ul class="navbar__nav">
        <li class="navbar__item">
            <a class="navbar__link navbar__link--active" href="#">home</a>
        </li>
        <li class="navbar__item">
            <a class="navbar__link" href="#">about us</a>
        </li>
        <li class="navbar__item">
            <a class="navbar__link" href="#">projects</a>
        </li>
        <li class="navbar__item">
            <a class="navbar__link" href="#">news</a>
        </li>
        <li class="navbar__item">
            <a class="navbar__link" href="#">features</a>
        </li>
        <li class="navbar__item">
            <a class="navbar__link" href="#">contact</a>
        </li>
    </ul>
</nav>