<section class="section">
    <h4 class="section__title">- our Recent posts</h4>

    <ul class="posts">
        <li class="posts__item">
            <img src="./img/post_1-img.png" alt="Aenean Adipiscing Etiam Vestibulum" class="posts__image">
            <div class="posts__content">
                <h5 class="posts__title"><a href="#">Aenean Adipiscing Etiam Vestibulum</a></h5>
                <p class="posts__info">
                    <span class="posts_source">Photography, Journal</span> / <span class="posts_comment">9 Comments</span>
                </p>
                <p class="posts__preview">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
        </li>
        <li class="posts__item">
            <img src="./img/post_2-img.png" alt="Aenean Adipiscing Etiam Vestibulum" class="posts__image">
            <div class="posts__content">
                <h5 class="posts__title"><a href="#">Aenean Adipiscing Etiam Vestibulum</a></h5>
                <p class="posts__info">
                    <span class="posts_source">Photography, Journal</span> / <span class="posts_comment">9 Comments</span>
                </p>
                <p class="posts__preview">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
        </li>
        <li class="posts__item">
            <img src="./img/post_3-img.png" alt="Aenean Adipiscing Etiam Vestibulum" class="posts__image">
            <div class="posts__content">
                <h5 class="posts__title"><a href="#">Aenean Adipiscing Etiam Vestibulum</a></h5>
                <p class="posts__info">
                    <span class="posts_source">Photography, Journal</span> / <span class="posts_comment">9 Comments</span>
                </p>
                <p class="posts__preview">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
        </li>
        <li class="posts__item">
            <img src="./img/post_4-img.png" alt="Aenean Adipiscing Etiam Vestibulum" class="posts__image">
            <div class="posts__content">
                <h5 class="posts__title"><a href="#">Aenean Adipiscing Etiam Vestibulum</a></h5>
                <p class="posts__info">
                    <span class="posts_source">Photography, Journal</span> / <span class="posts_comment">9 Comments</span>
                </p>
                <p class="posts__preview">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
        </li>
    </ul>

</section>