.btn {
    box-sizing: border-box;
    padding: 10px;
    margin: 15px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color: inherit;
    color: inherit;
}

.btn:hover {
    box-shadow: 2px 2px 5px #111;
}

.btn:focus,
.btn:active {
    outline: none;
}

.btn:active {
    box-shadow: none;
}

