* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

.btn {
  padding: 5px;
  border: none;
  outline: none;
  background-color: transparent;
  color: gray;
  font-size: 1.5em;
  cursor: pointer;
}

.my-twitter {
  margin: 10px auto;
  width: 500px;
  padding: 15px 10px;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
}

.my-twitter__header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end ;
  border-bottom: 1px solid lightgray;
}

.my-twitter__title {
  margin: 5px 0;
  font-size: 1.5em;
  font-weight: bold;
  color: black;
}

.my-twitter__posts{
  list-style: none;
  margin: 0;
  padding: 0;
}

.my-twitter__post {
  margin: 5px auto;
  padding: 5px;
  border: 1px solid black;
  background-color: white;
  position: relative;
}

.my-twitter__post--edit {
  width: 500px;
  border: 5px solid red;
}

.my-twitter__post-title {
  text-align: center;
}

.my-twitter__post-author {
  display: flex;
  justify-content: space-between;
}

.my-twitter__btnAdd {
  font-size: 1em;
}

.my-twitter__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-twitter__post--edit {
  padding: 5px 5px 40px;
}

.my-twitter__post-title--edit {
  margin: 5px 0;
  width: 100%;
  padding: 5px;
  display: block;
}

.my-twitter__post-body--edit {
  margin: 5px 0;
  width: 100%;
  padding: 5px;
  display: block;
  resize: none;
}

.my-twitter__post-BtnWrapper {
  position: absolute;
  top: 0;
  right: 0;
}

.my-twitter__post-BtnWrapper--edit {
  position: absolute;
  bottom: 0;
  right: 0;
}

.my-twitter__btnSave,
.my-twitter__btnCancel,
.my-twitter__btnEdit,
.my-twitter__btnDelete {
  color: black;
}

.my-twitter__btnSave:hover,
.my-twitter__btnCancel:hover,
.my-twitter__btnEdit:hover,
.my-twitter__btnDelete:hover {
  text-decoration: underline;
}

/* Спиннер */
.my-twitter__spinner {
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate3d(-50%, -50%, 0);
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
  