/*Обнуляем отступы*/
* {
    margin: 0;
    padding: 0;
}

/*
задаем ширину контента, выравнием по середине
задаем шрифт и основное выравнивание
*/
.container {
    margin: 0 auto;
    width: 1280px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

/*    
Панель навигации
*/
header {
    margin: 32px 0 35px; 
}

.nav-link {
    margin: 32px 35px 35px;
    font-size: 18px;
    color: #16a085;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/*Нет в макете, просто захотелось украсить :) */
.nav-link:hover {
    text-shadow: 1px 1px 2px #17a186; 
}

/*Основоной контент*/
.content {
    background-color: #f5f6f7;
}

/*Основная картинка. Оформлена в виде фоновой картинки с смешением с серым цветом фона*/
.top-img {
    width: 1280px;
    height: 790px;
    background-color: #525252;
    background-image: url(../images/top-img.png);
    background-blend-mode: soft-light;
}

/*Основной тектовый контент. Чуть заужен*/
.main{
    width: 1059px;
    margin: 34px auto 41px;
}

/*Заголовок*/
.h-main {
    margin: 59px auto 34px;
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #373737;
}

/*Параграфы с текстом*/
.p-main {
    font-size: 16px;
    line-height: 1.7em;
    color: #373737;
    text-transform: none;
    letter-spacing: 2px;
}

/*Отступ между первыйм и вторым параграфом*/
.p-main:first-child {
    margin: 0 0 2em;
}

/*Кнопка*/
.btn {
    display: inline-block;
    width: 193px;
    height: 52px;
    background-color: #16A085;
    border: none;
    border-radius: 3px;
    margin: 0 auto 94px;
    color: white;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

/*Нет в макете, просто захотелось украсить :) */
.btn:hover {
    box-shadow: 2px 2px 4px gray; 
}
.btn:active {
    box-shadow: none;
    color: red;
}


/*Копирайт в футере*/
.copyright {
    margin: 47px 104px 45px;
    font-size: 16px;
    color: #373737;
    text-align: right;
    text-transform: none;
    letter-spacing: 2px;
}

