form {
    width: 80%;
    margin: 10px auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px; 
    text-align: left;
}

input {
    margin-bottom: 20px;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

button[type=submit] {
    margin: 20px 0;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: #45a049;
}

button[type=submit]:disabled {
    background-color: rgba(69, 160, 73, .4);
    cursor: unset;
}

.formError {
    color: red;
    font-size: 12px;
}