body {
    margin: 0;
    background-color: #000;
}

.audio-controls {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  height: 10px;
  width: 200px;
  text-align: center;
  z-index: 2;
  transform: translateX(-50%);
}

.fade {
  position: relative;
  top:0px;
  width: 100%;
  height: 50vh;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 100%);
  z-index: 1;
}

/* CONTENT */
.wrapper-document {
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 80vw;
  height: 200vh;
  overflow: hidden;
  
  transform-origin: 50% 100%;
  transform: translateX(-50%) perspective(600px) rotateX(20deg) translateZ(0px);
  z-index: -1;
}

.content {
  position: absolute;
  top: 100%;
  color: rgb(243, 219, 83);
  font-family: sans-serif;
  font-size: 4vw;
  font-weight: bold;
  animation: animate 30s linear infinite;
}

.title,
.sub-title {
    text-align: center;
    font-size: 1em;
    
}

@keyframes animate {
    0% {
      top: 100%;
    }
    100% { 
      top: calc(300px - 100vw);
    }
  }
