.starwars {
    background: lightcyan;
}

.starwars__title {
    padding: 20px;
    text-align: center;
}

.starwars__btnLoad {
    display: block;
    width: 100px;
    margin: 10px auto;
    padding: 5px;
    text-align: center;
}

.starwars__films,
.starwars__characters {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
}

.starwars__films {
    font-size: 14px;
}


.starwars__characters {
    font-size: 12px;
}

.starwars__film {
    margin: 15px;
    padding: 5px;
    background-color: gray;
    font-size: 1em;
    font-weight: normal;
}

.starwars__character {
    font-size: 10px;
    font-weight: normal;
}



/* InlineSpinner */
  @keyframes c-inline-spinner-kf {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .c-inline-spinner,
  .c-inline-spinner:before {
    display: inline-block;
    width: 11px;
    height: 11px;
    transform-origin: 50%;
    border: 2px solid transparent;
    border-color: black black transparent transparent;
    border-radius: 50%;
    content: "";
    animation: linear c-inline-spinner-kf 900ms infinite;
    position: relative;
    vertical-align: inherit;
    line-height: inherit;
  }
  .c-inline-spinner {
    top: 3px;
    margin: 0 3px;
  }
  .c-inline-spinner:before {
    border-color: black black transparent transparent;
    position: absolute;
    left: -2px;
    top: -2px;
    border-style: solid;
  }
  