* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}

.black {
    color: #000;
}

.cyan {
    color: #4bcaff;
}

.wrapper-document {
    width: 1280px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif ; /*Наиболее подходящий шрифт, размер подбирался так, чтобы ширина примерно совпадала с макетом */
}

/*Header*/
header {
    margin-bottom: 51px;
}

.header-logo {
    padding: 61px 0 45px 1px;
    font-size: 60pt;
}

.header-logo-link {
    text-decoration: none;
}

.header-nav {
    background-color: #35444f;
    text-align: center;
} 

.header-nav-link {
    display: inline-block;
    padding: 26px 42px 21px; 
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.header-nav-link:hover {
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
    padding-top: 21px;
    padding-bottom: 26px;
    vertical-align: 5px;
}

.header-nav-link:active {
    padding-top: 26px;
    padding-bottom: 21px;
    vertical-align: 0px;
    box-shadow: 0 0 10px #aaa inset;
}

/*Main content*/
.main-nav,
.main-image {
    display: inline-block;
    border: 1px solid #35444f;
    overflow: hidden;
}

.main-nav {
    width: 342px;
    height: 399px;
    line-height: 80px;
    margin-right: 51px;
    vertical-align: top;
    font-size: 30px;
}

.main-nav-title {
    display: inline-block;
    width: 300px;
    padding-left: 42px;
    color: #495863;
}

.main-nav-link {
    display: inline-block;
    width: 300px; 
    padding-left: 42px;
    text-decoration: none;
    color: #495863;
}

.main-nav-link:hover,
:target {
    padding-left: 69px;
    width: 300px; 
    background-color: #dbdbdb;
    color: #000;
}

.main-image {
    width: 883px;
    height: 529px;
    overflow: hidden;
    background-image: url(../images/top-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 381px;
    -moz-transition: background-size 1s;
    -ms-transition: background-size 1s;
    -o-transition: background-size 1s;
    -webkit-transition: background-size 1s;
    transition: background-size 1s;
    
}

.main-image:hover {
    background-size: auto 520px;
}

.main-article {
    width: 820px;
    margin: 50px 34px 51px 426px;
    /*margin-left: 426px;
    margin-right: 34px;*/
}

.main-article p {
    margin-bottom: 30px;
    font-size: 18px;
}

/*Footer*/
.footer-nav-bar {
    background-color: #b4b7ba;
    text-align-last: justify;
}

.footer-nav,
.footer-copyright {
    display: inline-block;
    padding: 22px 0 21px;
}

.footer-nav {
    margin-left: 44px;
    font-size: 28px;
}

.footer-nav-title {
    color: #0c1927;
}

.footer-nav-link {
    color: #0c1927;
    padding-left: 24px;
    text-decoration: none;
}

.footer-nav-link:hover {
    text-decoration: underline;
    color: #3181a6;
}

.footer-copyright {
    padding-right: 34px;
    color: #010101;
    font-size: 24px;
}
