* {
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
}

/* CONTENT */
.wrapper-document {
    height: 100vh;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: auto;
}

.box-shadow:hover {
    box-shadow: 3px 3px 15px rgba(0, 0, 0, .6);
}

.link {
    text-decoration: none;
}

/* ------------------------------------HEADER */
.header {
    position: relative;
    overflow: hidden;
}

.header-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/bg1.jpg);
    background-color:rgba(0,0,0,.8);
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
}
.header-foreground {
    height: 600px;
    padding: 32px 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ----------------------NAVBAR */
.navbar {
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
}

.nav-title {
    color: #3e4c4e;
    font-size: 36px;
}

.nav-title-name{
    color: rgba(20, 175, 202, 255);
    font-weight: bold;
}

.nav-menu {
    width: 40vw;
    min-width: 480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu-item {
    padding: 20px;
    text-transform: uppercase;
    color: #3e4c4e;
    font-size: 15px;
    font-weight: bold;
}

.nav-menu-item:hover {
    color: rgba(20, 175, 202, 255);
}

.nav-title:hover {
    opacity: .7;
}

.header-title {
    margin: auto;
    padding: 5px;
    font-family: FuturaBT, MyriadHebrew, serif;
    font-size: 52px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    line-height: 1.5em;
}

/* ------------------------------------SECTION */
.section {
    text-align: center;
    background-color: #fff;
    position: relative;
}

.section-title-wrapper {
    padding: 40px;
    text-align: center;
    font-size: 16px;
}
.section-title {
    padding: 20px;
    text-transform: uppercase;
    font-size: 60px;
    color: rgba(20, 175, 202, 255);
    font-weight: bold;
}

.section-title-text {
    font-weight: bold;
    color: rgb(66, 79, 87);
}

.section-text,
.gallery-item-text {
    padding: 0 20px;
    color: rgb(66, 79, 87);
    line-height: 2em;
}

.section-text-author {
    text-align: right;
    font-weight: bold;
}

/* ----------------------Arrow-inner */

/* ------Triangle left */
.arrow-inner::before {
    content: '';
    position: absolute;
    top: -80px;
    left: 0;
    width: 0;
    height: 0;
    border-width: 80px 0 0 50vw;
    border-color: transparent transparent transparent #FFFFFF;
    border-style: solid;
}

/* ------Triangle right */
.arrow-inner::after {
    content: '';
    position: absolute;
    top: -80px;
    right: 0;
    width: 0;
    height: 0;
    border-width: 0 0 80px 50vw;
    border-color: transparent transparent #FFF transparent;
    border-style: solid;
}

.arrow-outter {
    position: absolute;
    bottom: -80px;
    left: 0;
    width: 0;
    height: 0;
    border-width: 80px 50vw 0 50vw;
    border-color: #FFF transparent transparent transparent;
    border-style: solid;
    z-index: 1;
}

/* ------------------------------------SECTION WHAT */
.section-what {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------SECTION COMPANIES */
.section-companies {
    height: 715px;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.section-companies-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color:rgba(0,0,0,.8);
    background-image: url(../images/bg2.jpg);
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -15vw;
    transform: translateZ(-1px) scale(2);
    z-index: 0;
}
.section-companies-foreground {
    height: 555px;
    z-index: 1;
}

.section-companies-foreground .section-title-text,
.section-testimonials-foreground .section-title-text {
    color: #fff;
}

.section-companies-gallery {
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.section-companies-gallery img {
    padding: 20px;
}

/* ------------------------------------SECTION MEET US */
.section-meet {
    height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meet-gallery {
    display: flex;
    justify-content: space-between;
}

.gallery-item{
    padding: 10px;
    width: 300px;
}

.gallery-item-img {
    width: 256px;
    height: 256px;
    padding: 25px;
}

/* ------------------------------------SECTION TESTIMONIALS */
.section-testimonials {
    height: 577px;
    padding: 80px 0;
    overflow: hidden;
    z-index: 0;
}

.section-testimonials-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color:rgba(0,0,0,.8);
    background-image: url(../images/bg3.jpg);
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
}
.section-testimonials-foreground {
    height: 417px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.section-testimonials-foreground .section-text {
    font-style: italic;
    color: rgba(211, 204, 204, 255);
}

/* ------------------------------------SECTION WHY */
.section-why {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-why .section-text {
    font-size: 30px;
    font-weight: bold;
}

/* ------------------------------------FOOTER */
.footer {
    padding: 100px;
    background-color: #fff;
    color: rgba(61, 60, 60, 255);
    text-align: center;
    font-size: 14px;
    line-height: 1.5em;
}

.footer .company-name {
    font-weight: bold;
}

/* ------------------------------------ADAPTIVE FOR WIDE SCREEN */
@media (min-width: 1000px) {
    .header-title, 
    .section-text,
    .section-companies-gallery,
    .meet-gallery {
        width: 1000px;
    }

}
