
.formDrawCircle {
    width: 150px;
    display: flex;
    flex-flow: column;
}

.btn {
    width: 150px;
    margin: 5px 0;
}

#diam, #btnDraw {
    display: none;
}

#diam.diamOK {
    border: 2px solid green;
    font-weight: bold;
    text-decoration: initial;
}

#diam.diamEr {
    border: 2px solid red;
    text-decoration: line-through; 
}

#diam:focus {
    border: 2px solid blue;
    font-weight: normal;
    text-decoration: initial;
}

.circles {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

