* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: unset;
}

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper-document {
    width: 100%;
    min-width: 320px;
}

@media (min-width: 1200px) {
    .wrapper-document {
        width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
    }
}

.section {
    padding-top: 40px;

    &__title {
        padding-bottom: 8px;
        color: $title-color;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }

    &__link {
        display: none;
        float: right;
        color: $title-color;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;

        &__link:hover {
            color: $hover-link;
        }
    }

}

@media (min-width: 768px) {
    .section {
        padding-top: 50px;
        
        &__title {
            font-size: 16px;
        }
    
        &__link {
            display: block;
        }
    }
}
