.footer {
    background: #000;
    padding: 40px 8px;
    
    &__title {
        color: $title-color-invers;
        text-align: center;
    }

    &__text {
        width: 303px;
        margin: 0 auto;
        color: $text-color-invers;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
    }

    &__text-extended {
        display: none;
    }

    &__social-icons {
        width: 190px;
        margin: 0 auto;
        padding: 25px 0;

        display: flex;
        justify-content: space-between;
    }

    &__social-icon {
        width: 34px;
        height: 34px;
    
        &--rss {
            display: inline-block;
            background-image: url(../img/rss.svg);
        }
    
        &--facebook {
            display: inline-block;
            background-image: url(../img/Facebook.svg);
        }
    
        &--twitter {
            display: inline-block;
            background-image: url(../img/twitter.svg);
        }
    
        &--dribbble {
            display: inline-block;
            background-image: url(../img/dribbble.svg);
        }
    
        &--pinterest {
            display: inline-block;
            background-image: url(../img/pinterest.svg);
        }
    }

    &__contacts {
        color: $text-color-invers;
        font-size: 14px;
        line-height: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 768px) {
    .footer {
        padding-top: 50px;

        &__text {
            padding-top: 15px;
            width: 684px;
            font-size: 16px;
            line-height: 24px;
        }

        &__text-extended {
            display: unset;
        }

        &__social-icons {
            padding: 35px 0;
        }

        &__contacts {
            justify-content: center;
            flex-direction: unset;
            font-size: 16px;
        }

    }
}

@media (min-width: 1200px) {
    .footer {
        padding-top: 60px;
    }
}
        