.instagram-shots {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
    // justify-content: space-between;

    &__item {
        display: none;
        padding-top: 5px;

        &--latest {
            display: block;
        }
    }

    &__image {
        width: 301px;
    }
}

@media (min-width: 768px) {
    .instagram-shots {
        padding-bottom: 50px;

        &__item {
            display: block;
            margin-right: 10px;

            //раскомментировать для автоматического масштабирования по ширине контента
            // width: calc(100% / 3 - 10px);

            &--oldest {
                display: none;
            }
        }

        &__item:nth-child(3) {
            margin-right: 0;
        }

        &__image {
            width: 249px;
            
            //раскомментировать для автоматического масштабирования по ширине контента
            // width: 100%; 
        }

    }
}

@media (min-width: 1200px) {
    .instagram-shots {
        
        &__item {
            margin-right: 10px;
            //раскомментировать для автоматического масштабирования по ширине контента
            // width: calc(100% / 4 - 10px);

            &--oldest {
                display: unset;
            }
        }

        &__item:nth-child(3) {
            margin-right: 10px;
        }

        &__item:last-child {
            margin-right: 0;
        }

        &__image {
            width: 285px;
            //раскомментировать для автоматического масштабирования по ширине контента
            // width: 100%;
        }
    }
}

