$hamberger-width: 45px;
$hamberger-height: 38px;
$hamburger-bk-color: #000;
$line-width: 17px;
$line-height: 2px;
$line-color: #fff;
$v-space-between-line: 2px;

.navbar {
    margin: 25px 0;
    text-align: right;

    &__nav {
        display: none;
        list-style: none;
    
        width: 182px;
    
        background: #fff;
    
        text-align: left;
    
        position: absolute;
        z-index: 1;
    }
    
    &__item {
        padding: 5px 0 2px 12px;
        border-bottom: 2px solid #F5F5F5;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: .1em;
        line-height: 22px;;
    }
    
    &__item:hover {
        background: #F5F5F5;
    }
    
    &__link--active {
        color: $navbar-link-active-color;
    }
    
    &__link:hover {
        color: $title-color;
    }
}

.hamburger {
    width: $hamberger-width;
    height: $hamberger-height;
    border: none;
    outline: none;
    background: $hamburger-bk-color;

    &__middle-line {
        position: relative;
        line-height: $hamberger-height;    
        vertical-align: middle;
    }
    
    &__middle-line,
    &__middle-line::after,
    &__middle-line::before {
        display: inline-block;
        width: $line-width;
        height: $line-height;
        background: $line-color;
        transition: transform 200ms, top 200ms;
    }
    
    &__middle-line::after,
    &__middle-line::before {
        content: '';
        position: absolute;
        left: 0;
    }
    
    &__middle-line::before {
        top: -($line-height + $v-space-between-line);
    }
    
    &__middle-line::after {
        bottom: -($line-height + $v-space-between-line);
    }
    
    /* uncss:ignore start */
    &--active > &__middle-line::before, 
    &--active > &__middle-line::after {
        top: 0;
    }
    
    &--active > &__middle-line::before {
        transform: rotate(45deg);
    }
    
    &--active > &__middle-line::after {
        transform: rotate(-45deg);
    }
    
    &--active > &__middle-line {
        background: transparent;
    }
    /* uncss:ignore end */
}

@media (min-width: 768px) {
    .hamburger {
        display: none;
    }

    .navbar__nav {
        width: unset;
        position: unset;
        display: flex;
        justify-content: center;
    }
    
    .navbar__item {
        padding: 17px;
        border: unset;
    }
}