.posts {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 35px;

    &__item {
        width: 100%;
        padding-top: 15px;
        display: flex;
        flex-direction: column;
    }

    &__image {
        width: 160px;
    }

    &__title {
        margin-top: 15px;
        padding: 8px 0;
        color: $title-color;
        font-size: 14px;
        font-weight: bold;

        &:hover {
            color: $hover-link;
        }
    }

    &__info {
        margin-bottom: 13px;
        padding-top: 4px;
        color: $info-color;
        font-size: 11px;
    }

    &__preview {
        display: none;
    }
}

@media (min-width: 768px) {
    .posts {
        padding-bottom: 60px;

        &__item {
            width: 585px;
            flex-direction: unset;
        }

        &__image {
            margin-right: 20px;
        }

        &__title {
            margin-top: 0;
            padding: 7px 0;
            font-size: 16px;
        }

        &__info {
            font-size: 12px;
        }

        &__preview {
            display: block;
            color: $text-color;
            font-size: 14px;
            line-height: 26px;
        }
    }
}

@media (min-width: 1200px) {
    .posts {
        padding-bottom: 70px;
        justify-content: space-between;
    }
}

