* {
    box-sizing: border-box;
}

.noTransition {
    transition: none !important;
}

.slider {
    display: flex;
    align-items: center;
}

.btn {
    width: 150px;
    height: 40px;
    padding: 5px;
    text-align: center;
}

.slider-galery {
    margin: 20px;
    width: 520px;
    height: 800px;
    overflow: hidden;
}

.images-wrapper {
    position: relative;
    width: 520px;
    height: 800px;
    display: flex;
    transition: transform 1s;
}

.image-to-show {
    width: 500px;
    height: 800px;
    margin: 0 10px;
    object-fit: contain;
    flex-shrink: 0;
}



