.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    
    &-content {
        background-color: #e74c3c;
        margin: 15% auto;
        border-radius: 5px;
        width: 50%;
    }

    &-header {
        background-color: #d44637;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 40px;
        text-align: left;
        font-size: 1.5em;
        font-weight: bold;
    }

    &-text {
        padding: 5px 40px;
    }

    &-header button {
        font-size: 1em;
        font-weight: normal;
    }
    
    &-actions {
        text-align: center;
    }

    &-actions button {
        min-width: 100px;
        font-size: 1em;
    }

}




