* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

.fz-big {
    font-size: 1.43rem;
}

.fz-norm {
    font-size: 1.14rem;
}

.fz-small {
    font-size: 1rem;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.wrapper-document {
    min-width: 650px;
    min-height: 640px;
    height: 100vh;
    background-image: url(../images/rana-sawalha.png);
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0);
    font-family: Verdana, sans-serif;
    color: #fff;
}

.link {
    text-decoration: none;
    color: #3cb878;
    transition: all 500ms;
}

.link:hover {
    text-decoration: underline;
}

.delimiter {
    width: 1px;
    background-color: rgba(255,255,255,.1);
}

/*Header*/
.header-bar {
    background-color: rgba(0,0,0,.41);
    padding: 18px 60px;
    line-height: 1.43rem;
}

.header-margin {
    margin: 0px 12px;
}

.header-bar .delimiter {
    height: 19px;
}

.header-title .link {
    color: #fff;
    text-decoration: none;
} 

.header-title .link:hover {
    color: #3cb878;
    text-decoration: none;
}

.header-icons {
    width: 28px; height: 20px;
    background-image: url(../images/css_sprites.png);
}    

.bg-ic_journey {
    background-position: -10px -50px;
}

.bg-ic_journey:hover {
    background-position: -50px -50px;
}

.bg-ic_forum {
    background-position: -10px -10px;
}

.bg-ic_forum:hover {
    background-position: -58px -10px;
}

.bg-ic_caledar {
    background-position: -106px -10px;
}

.bg-ic_caledar:hover {
    background-position: -106px -49px;
}

.header-title {
    margin-left: 21px;
    text-transform: uppercase;
}

/*Form*/
.form-wrapper {
    /*padding нужен, чтобы на маленьком по высоте экране form была всегда ниже header
      margin не подходит, т.к. может быть отрицательным */
      padding-top: calc((100vh - 56px - 584px) / 2);
}

.form-signup {
    width: 444px; height: 584px;
    margin: 0 auto;
    padding: 29px 59px 32px 60px;
    background-color: #fff;
    border-radius: 10px;
    color: #434343;
}

.form-title-bar {
    line-height: 1.43rem;
}

.form-green-box {
    width: 18px; height: 18px;
    background-color: #3cb878;
    margin-left: -60px;
}

.form-btn {
    border: none;
    padding: 9px 4px;
    color: #fff;
    line-height: 28px;
    cursor: pointer;
}

.form-btn-soc {
    width: 157px; height: 46px;
    margin-top: 15px;;
    border: none;
    padding: 9px 4px;
    color: #fff;
    line-height: 28px;
    cursor: pointer;
}

.btn-soc-fb {
    background-color: #305db8;
    transition: all 500ms;
}

.btn-soc-fb:hover {
    background-color: #264b96;
}

.btn-soc-gle {
    transition: all 500ms;
    background-color: #df4a32;
}

.btn-soc-gle:hover {
    background-color: #c3412c;
}

.form-btn-soc .delimiter {
    height: 28px;
    padding: 0 
}

.form-btn-soc i {
    width: 43px;
    line-height: 28px;
}

.form-signup fieldset {
    margin-top: 37px;
    padding-top: 20px;
    text-align: left;
    border-top: 1px solid #eaeaea;
}

.form-signup fieldset>legend {
    padding: 0px 9px;
    text-align: center;
}

.form-input {
    width: 100%; height: 46px;
    margin-top: 9px;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    padding: 18px 19px;
    background-color: #fff;
    transition: box-shadow 100ms;
    cursor: pointer;
}

fieldset>legend+.form-input {
    margin-top: 0;
}

.form-input:focus,
.form-input:hover {
    outline: 0;
    border: none;
    border-radius: none;
    box-shadow:  -2px 0 2px -1px #eaeaea, 2px 0 2px -1px #eaeaea, 0 7px 7px #eaeaea;
}

.form-chkbox-label {
    display: inline-block;
    margin-top: 19px;
    vertical-align: middle;
    cursor: pointer;
}

.form-chkbox {
    width: 1.43rem;
    height: 1.43rem;
    vertical-align: middle;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

.form-chkbox::before {
    content: "\f00c";
    font-family:"Font Awesome 5 Free";
    font-weight: bold;
    color: #4cbe83;
    position: relative;
    right: calc(-1*(1.43rem - 2px - 1rem)/2);
    top: calc((1.43rem - 2px - 1rem)/2);
    visibility: hidden;
}

.form-chkbox:checked::before {
    visibility: visible;
}

.form-signup fieldset .form-btn {
    width: 100%; height: 46px;
    margin-top: 25px;
    background-color: #3cb878;
    border-radius: 3px;
    color: #fff;
    transition: all 500ms;
}

.form-signup fieldset .form-btn:hover {
    background-color: #329a65;
}




