* {
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
}

/* CONTENT */
.wrapper-document {
    max-width: 1900px;
    /*min-width: 1280px;*/
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.gallery-item-shadow:hover {
    box-shadow: 3px 3px 15px rgba(0, 0, 0, .6);
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d2124;
}

.nav-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-logo-img {
    padding: 22px 21px 21px;
    background-color: #171a1c;
}

.nav-logo-title {
    padding: 6px;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu-item {
    padding: 18px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

.nav-menu-item:hover {
    color: #f55;
}

.nav-search {
    padding: 25px;
    background-color: #171a1c;
    color: #fff;
    font-size: 15px;
}

.nav-search:hover {
    color: #f55;
}

/* HEADER */
.header {
    display: flex;
    height: 400px;
    background-image: url(../images/header-bg.jpeg);
    background-attachment: fixed;
    background-position-y: -485px;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-title {
    margin: 20px 0;
    font-size: 27px;
    text-transform: uppercase;
    color: #fff;
}

.header-btn-wrapper {
    margin: 20px;
}

.btn {
    width: 170px;
    height: 55px;
    margin: 4px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    text-align: center;
    line-height: 45px;
    vertical-align: middle;
    cursor: pointer;
}

.btn-subscribe {
    background-color: #89ca62;
}

.btn-best {
    background-color: #14b9d5;
}

/* POSTS POPULAR */
.section-posts-popular {
    padding: 40px;
    background-color: #f2f2f2;
}

.section-title {
    margin: 20px;
    font-size: 27px;
    font-weight: bold;
    color: #18b4cf;
    text-transform: uppercase;
    text-align: center;
}

.posts-popular {
    max-width: 1200px;
    max-height: 1030px;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.post-popular-item {
    margin: 15px;
    flex: 0 0 370px;
    background-color: #fff;
}

.post-popular-item-link {
    text-decoration: none;
}

.post-popular-item-img {
    width: 370px;
}

.post-popular-item-caption {
    padding: 20px 5px;
    font-size: 18px;
    font-weight: bold;
    color: #353a3d;
    text-align: center;
}

/* CLIENTS POPULAR */
.section-clients-popular {
    display: grid;
    height: 590px;
    padding: 200px 0px;
    background-color: rgb(36, 36, 36);
    background-image: url(../images/parallax-bg.jpeg);
    background-blend-mode: lighten;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    justify-items: center;
    align-content: space-between;
    align-items: center;
}

.clients-popular-title {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.h-line {
    width: 60px; 
    height: 3px;
    background-color: #169cb4;
}

.clients-popular-gallery {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 70px;
    align-items: center;
}

/* TOP RATED*/
.section-top-rated {
    padding-top: 40px;
}

.top-rated-gallery {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-gap: 0;
}

.top-rated-gallery figure {
    font-size: 0;
    line-height: 0;
}

.top-rated-gallery img {
    width: 100%;
}

/* HOT NEWS */
.section-hot-news {
    padding: 40px 0 70px;
    background-color: #fff;
}

.hot-news-gallery {
    padding-top: 30px;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-areas: 
    "post-1 post-1 post-1 post-1 post-1 gap-f post-2"
    "post-3 post-3 post-3 gap-m post-4 post-4 post-4"
    "post-5 post-5 post-5 gap-m post-6 post-6 post-6"
    "post-7 gap-l post-8 post-8 post-8 post-8 post-8"
    ;
    grid-row-gap: 40px;
}

/*gap betwen articles in first row*/
.gap-first { 
    grid-area: gap-f;
    width: 35px;
}

/*gap betwen articles in all middle row*/
.gap-middle { 
    grid-area: gap-m;
    width: 60px;
}

/*gap betwen articles in last row*/
.gap-last { 
    grid-area: gap-l;
    width: 35px
}

/* Define articles area name*/
.post-1 {
    grid-area: post-1;
}

.post-2 {
    grid-area: post-2;
}

.post-3 {
    grid-area: post-3;
}

.post-4 {
    grid-area: post-4;
}

.post-5 {
    grid-area: post-5;
}

.post-6 {
    grid-area: post-6;
}

.post-7 {
    grid-area: post-7;
}

.post-8 {
    grid-area: post-8;
}

/*define articles layout*/
.post-1>a,
.post-8>a {
    display: grid;
    grid-template-areas: 
    "a-img a-title"
    "a-img a-text";
    align-items: end;
    text-decoration: none;
}

.post-2>a,
.post-7>a {
    min-height: 100%;
    display: grid;
    grid-template-rows: 210px 1fr;
    grid-template-areas: 
    "a-img "
    "a-title";
    align-items: center;
    text-decoration: none;
}

.post-3>a,
.post-4>a,
.post-5>a,
.post-6>a {
    display: grid;
    grid-template-areas: 
    "a-img "
    "a-title"
    "a-text";
    align-content: space-between;
    text-decoration: none;
}

/*Style for article elements*/
.hot-news-item {
    background-color: #f9f7f7;
    line-height: 0;
}

.hot-news-item-img {
    grid-area: a-img;
}

.article-title {
    grid-area: a-title;
    margin: 20px 27px 5px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    color: rgb(53, 58, 61);
    line-height: initial;
}

.post-2 .article-title,
.post-7 .article-title {
    margin: 0 27px 0 20px;
}

.article-text {
    grid-area: a-text;
    align-self: start;
    margin: 15px 27px 20px 20px;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    color: rgb(91, 100, 105);
    line-height: initial;
}

/*Footer*/
.footer-bar {
    background-color: #1d2124;
}

.footer-bar-wrapper {
    height: 80px;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
}

.footer-copyright {
    color: #86898a;
    font-size: 13px;
}


