* {
    box-sizing: border-box;
}

.whack-Mole-Game {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.whack-Mole-Game__table {
    border-collapse: collapse;
}

.whack-Mole-Game__cell {
    border: 2px solid black;
    width: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    cursor: default;
}

.whack-Mole-Game__btn {
    margin: 5px;
    padding: 5px;
}

.whack-Mole-Game__score {
    margin: 0;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

.endGameMsg {
    margin: 0;
    position: absolute;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    box-shadow: inset 5px 5px 30px 5px rgb(255, 255, 128);
    background-color: rgba(0,0,0,.8);
    color: rgb(255, 255, 128);
    font-size: 30px;
    font-weight: bold;
}

.formParams {
    margin: 10px;
    width: 300px;
    border: 1px solid black;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.paramLabel {
    margin: 5px;
    font-weight: bold;
}

.paramInput {
    padding: 5px;
    width: 30px;
    font-weight: bold;
    text-align: center;
}


