.navbar {
    margin: 0;
    padding: 5px;
    list-style: none;
    display: flex;
    justify-content: center;

    background-color: rgb(0, 0, 255);

    &-item {
        padding: 20px;
    }

    &-link {
        text-decoration: none;
        font-size: 1.5em;
        font-weight: bold;
        color: #fff;

        &-active:after {
            content: "";
            display: block;
            height: 8px;
            background: transparent;
            background: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0) 100%);
        }
    }
}

