* {
    box-sizing: border-box;
}

.mines {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.table {
    border-collapse: collapse;
}

.td {
    border: 2px solid black;
    width: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    cursor: default;
}

.td.empty {
    background-color: gray;
}

.td.bomb {
    background-color: red;
    box-shadow: inset 5px 5px 30px 5px rgb(108, 0, 122);
    font-size: 15px;
}

.td.boom {
    box-shadow: inset 5px 5px 30px 5px rgb(255, 255, 0);
}


.btn {
    margin: 5px;
    padding: 5px;
}

.score {
    margin: 0;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

.endGameMsg {
    margin: 0;
    position: absolute;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    box-shadow: inset 5px 5px 30px 5px rgb(255, 255, 128);
    background-color: rgba(0,0,0,.8);
    color: rgb(255, 255, 128);
    font-size: 30px;
    font-weight: bold;
}

.formParams {
    margin: 10px;
    width: 300px;
    border: 1px solid black;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.paramLabel {
    margin: 5px;
    font-weight: bold;
}

.paramInput {
    padding: 5px;
    width: 30px;
    font-weight: bold;
    text-align: center;
}

.paramInput.inputError {
    border: 1px solid red;
    color: red;
}
