.card {
    width: 300px;
    margin: 5px 10px;
    box-shadow: 2px 2px 5px #ccc;
    border: 1px solid #aaa;
    border-radius: 5px;
    text-align: center;

    position: relative;

    &-image {
        width: 100%;
        height: 200px;
        object-fit: contain;
    }

    &-title {
        margin: 0;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-name {
        margin: 0;
        padding: 5px 10px;
        font-size: 1.5em;
        font-weight: bold;
        text-align: left;
    }

    &-favourite {
        cursor: pointer;
    }

    &-vendorcode {
        margin: 0;
        padding: 5px 15px;
        font-size: 1em;
        font-style: italic;
        text-align: right;
    }

    &-color {
        margin: 0;
        padding: 5px 15px;
        font-size: 0.8em;
        font-weight: normal;
        text-align: left;
    }

    &-price {
        margin: 0;
        padding: 5px 15px;
        font-size: 2em;
        font-weight: bold;
        text-align: left;
    }

    &-btn-delete {
        margin: 0;
        display: inline-block;
        position: absolute;
        width: 30px;
        right: -25px;
        top: -10px;
        background: transparent;
        outline: none;
        border: none;
        cursor: pointer;
    }

    &-btn-delete:hover {
        color: red;
        box-shadow: none;
    }
    
}
