* {
    box-sizing: border-box;
}

.trello-column {
    margin: 10px;
    display: inline-block;
    width: 500px;
    padding: 15px 10px;
    background-color: lightgray;
    border-radius: 5px;
    position: relative;
}

.trello-column__header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end ;
}

.trello-column__title {
    margin: 5px 0;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
}

.trello-column__list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.trello-column__card {
    margin: 5px 0;
    background-color: white;
}

.trello-column__card-text {
    display: block;
    width: 100%;
    border: none;
    padding: 5px;
    font-size: 1em;
}

.btn {
    padding: 5px;
    border: none;
    outline: none;
    background-color: transparent;
    color: gray;
    font-size: 1.5em;
    cursor: pointer;
}

.trello-column__btnAdd {
    margin-top: 10px;
}

.trello-column__btnSort {
    font-size: 1em;
}
