
.label {
    display: inline-block;
    margin: 25px 0;
    font-weight: bold;
}

.input {
    outline: none;
    font-weight: bold;
}

.input:focus {
    border: 2px solid green;
}

.inputCorrect {
    color: green;
}

.inputInCorrect {
    border: 2px solid red;
    color: initial;
}

.note {
    display: none;
    position: absolute;
    padding: 1px 5px;
    font-size: .5em;
}

.noteCorrectClose {
    margin-left: 1em;
    width: 1.25em;
    height: 1.25em;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 50%;
    font-size: .7em;
    text-align: center;
    cursor: pointer;
}

.noteCorrect {
    border: 1px solid gray;
    border-radius: 10px 10px 10px 10px / 50% 50% 50% 50%;
}

.noteInCorrect {
    border: none;
}