.cardlist {
    margin: 0;
    list-style: none;
    min-width: 300px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;

    &-title {
        font-size: 2em;
        font-weight: bold;
        text-align: center;
    }
    
}