* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
}

.fz-big {
    font-size: 1.61rem;
}

.fz-norm {
    font-size: 1rem;
}

.fz-small {
    font-size: .67rem;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.wrapper-document {
    width: 1366px; height: 100vh;
    margin: 0 auto;
    font-family: Verdana, sans-serif;
    color: #fff;
}

/*Header*/
.header-bar {
    width: 1064px;
    margin: 49px auto 48px;
}

.header-logo {
    float: left;
    text-decoration: none;
}

.header-logo-img {
    display: inline-block;
    margin-right: .83rem;
    
}

.header-logo-img-hover {
    display: none;
}

.header-logo-text {
    display: inline-block;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.22rem;
}

.header-logo:hover .header-logo-text {
    color: #f26522;
}

.header-logo:hover .header-logo-img {
    display: none;
}

.header-logo:hover .header-logo-img-hover {
    display: inline-block;
    margin-right: .83rem;
}

.contacts {
    float: right;
    line-height: 1.22rem;
    font-size: 1em;
    text-align: right;
}

/*Main content*/
.tour-gallery {
    width: 1064px;
    margin: 0px auto;
}

.gal-item {
    width: 312px;
    float: left;
}

.gal-item-link {
    text-decoration: none;
    cursor: default;
}

.gal-item:nth-child(2),
.gal-item:nth-child(5) {
    margin-left: 64px;
    margin-right: 64px;
}

.gal-img-wrapper {
    width: 100%;
    height: 204px;
    padding: 3px 2px 1px;
    background: linear-gradient(to bottom, #fff, #000);
    overflow: hidden;
    cursor: pointer;
}

.gal-item-img {
    height: 100%;
    background-position: center;
    background-size: cover;
}

.gal-item-img-shopping {
    background-image: url(../images/tour_shopping.png);
}

.gal-item-img-sightseeing {
    background-image: url(../images/tour_sightseeing.png);
}

.gal-item-img-food {
    background-image: url(../images/tour_food.png);
}

.gal-item-img-nightlife {
    background-image: url(../images/tour_nightlife.png);
}

.gal-item-img-art {
    background-image: url(../images/tour_art.png);
}

.gal-item-img-walking {
    background-image: url(../images/tour_walking.png);
}

.gal-item-detail {
    visibility: hidden;
    width: 100%;
    height: 63px;
    margin: 0;
    padding: 16px 18px 17px 21px;
    background-color: #f26522;
    color: #fff;
    -moz-transition: margin-top 0.5s;
    -ms-transition: margin-top 0.5s;
    -o-transition: margin-top 0.5s;
    -webkit-transition: margin-top 0.5s;
    transition: margin-top 0.5s;
}

.gal-item-detail-price {
    text-align-last: justify;
}

.gal-item-detail-price-from {
    float: left;
    font-size: 0.55rem;
}

.gal-item-detail-price-sum {
    float: left;
    clear: left;
    font-size: 1.11rem;
}

.gal-item-detail-follow {
    float: right;
    font-size: 0.78rem;
}

.gal-item-detail-follow:after {
    content: '\003E';
    padding-left: 15px;
}

.gal-item-title {
    margin: 22px 0 58px;
    text-align: center;
    color: #fff;
}

.gal-img-wrapper:hover .gal-item-detail {    
    visibility: visible; 
    margin-top: -63px;
    -moz-transition: margin-top 0.5s;
    -ms-transition: margin-top 0.5s;
    -o-transition: margin-top 0.5s;
    -webkit-transition: margin-top 0.5s;
    transition: margin-top 0.5s;
}

.gal-item-title:hover,
.gal-img-wrapper:hover+.gal-item-title {
    color: #f26522;
    cursor: pointer;
}

/*Footer*/
.footer-copyright {
    padding: 3px 0 20px;
    text-align: center;
    font-weight: normal;
}
