* {
    box-sizing: border-box;
}

/*button:focus {*/
/*    outline: none;*/
/*}*/

/* CONTENT */
.wrapper-document {
    min-width: 1160px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.spinner {
    position: fixed;
    font-size: 50px;
    color: #18CFAB;
}

.linkMenu {
    text-decoration: none;
    color: #fff;
}

.wrapperContent {
    width: 1160px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.header {
    height: 1012px;
    background-image: url("../images/sections_background/section-1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.navBar {
    background-color: rgba(146,145,140,.6);
}

.navBarContent {
    height: 120px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.navBarLogo {
    display: flex;
    line-height: 64px;
    text-align: center;
}

.navBarLogoImage {
    margin-right: 8px;
    width: 58px;
    height: 67px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: #18CFAB;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}

.navBarLogoName {
    font-size: 32px;
}

.navBarLogoFirstName {
    color: #fff;
    font-weight: 400;
}

.navBarLogoLastName {
    color: #18CFAB;
    font-weight: bold;
}

.navBarMenu {
    list-style: none;
    padding-left: 0;
    display: flex;
}

.navBarMenuItem {
    height: 120px;
    display: flex;
    align-items: center;
    position: relative;
}

.navBarMenuItem .linkMenu {
    padding: 0 8px;
    color: #bbb;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.navBarMenuItem .linkMenu:hover {
    color: #18CFAB;
}

.navBarMenuItem .linkMenu:hover::after {
    display: block;
    width: 100%;
    height: 120px;

    position: absolute;
    left: 0;
    top: 0;

    content: "";
    border-bottom: 2px solid #18CFAB;
}

.navBarMenuItem .linkMenu.search{
    font-size: 22px;
}

.headerContent {
    height: 892px;
}

.headerBannerTagline {
    padding: 20px;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

.headerBannerTaglineName {
    color: #fff;
}

.headerBannerTaglineDesc {
    color: #18CFAB;
}

.headerBannerSlogan {
    padding: 20px;
    color: #fff;
    font-size: 79px;
    font-weight: bold;
    text-transform: uppercase;
}

.headerBannerText {
    padding: 15px;
    color: #d4d4d4;
    font-size: 34px;
}

.headerBannerBtns {
    margin-top: 105px;
    padding: 20px;
}

.btn {
    width: 167px;
    height: 62px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    box-shadow: 0 -4px #fff;
}

.btnAzure {
    background-color: #18CFAB;
}

.btnAzure:hover {
    background-color: #1abb96;
}

.btnBlue {
    background-color: #00CBF6;
}

.btnBlue:hover {
    background-color: #00bce2;
}

.secBenefits {
    display: flex;
}

.benefit {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 375px;
    border-radius: 0;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.benefit:nth-child(odd) {
    background-color: #1C2A33;
    border-top: 8px solid #18CFAB;
    color: #18CFAB;
}

.benefit:nth-child(even) {
    background-color: #18CFAB;
    border-top: 8px solid #fff;
    color: #fff;
}

.benefitIcon {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    margin-bottom: 45px;
}

.secServices {
    background-color: #F8FCFE;
}

.secHeader {
    margin: 70px 0 0;
    padding: 10px;
    color: #4E4E4E;
    font-size: 36px;
    text-transform: capitalize;
}

.headerUnderline {
    margin: 30px;
    position: relative;
    width: 89px;
    height: 6px;
}

.horLine {
    position: absolute;
    width: 77px;
    height: 2px;
    background-color: #18CFAB;
}

.horLineTop {
    top: 0;
    left: 0;
}

.horLineBottom {
    bottom: 0;
    right: 0;
}

.tabsServices {
    width: 100%;
    margin: 40px 0 24px;
    list-style: none;
    padding-left: 0;
    display: flex;
}

.tabServicesTitle {
    width: 190px;
    padding: 20px 0;
    border: 1px solid #EBEBEB;
    background-color: #F8FCFE;
    color: #717171;
    font-size: 16px;
    cursor: pointer;
    flex-grow: 1;
}

.tabServicesTitle:not(:first-child) {
    border-left: none;
}

.tabServicesTitle:hover,
.tabServicesTitle.active {
    color: #FFF;
    position: relative;
}

.tabServicesTitle.active {
    border-color: #18CFAB;
    background-color: #18CFAB ;
}

.tabServicesTitle:hover {
    border-color: #10C0A0;
    background-color: #10C0A0;
}

.tabServicesTitle.active::after {
    content: "";
    position: absolute;
    left: calc(50% - 12.5px);
    top: calc(100% + 1px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 12.5px 0 12.5px;
    border-color: #18CFAB transparent transparent transparent;
}

.tabsServicesContentWrapper{
    display: none;
}

.tabsServicesContentWrapper.active {
    margin-bottom: 100px;
    display: flex;
}

.tabServicesContentImage {
    width: 190px;
    height: 190px;
    margin-right: 20px;
    object-fit: contain;
}

.tabServicesContentText {
    line-height: 1.5em;
    font-size: 14px;
    text-align: justify;
    
}

.secReadyToBuy {
    height: 476px;
    background-image: url(../images/sections_background/section-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1C2A33;
    background-blend-mode: multiply;
}

.secReadyToBuyTagline {
    padding: 20px 0;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #18CFAB;
}

.secReadyToBuyText {
    padding: 15px 0;
    font-size: 16px;
    color: #D8D8D8;
}

.secReadyToBuyBtn {
    margin-top: 60px;
}

.secWorks {
    background-color: #F8FCFE;
}

.tabsWorkFilter {
    width: 100%;
    margin: 40px 0 70px;
    list-style: none;
    padding-left: 0;
    display: flex;
}

.tabWorkFilterTitle {
    width: 190px;
    padding: 20px 0;
    border: 1px solid #EBEBEB;
    background-color: #FFF;
    color: #717171;
    font-size: 16px;
    cursor: pointer;
    flex-grow: 1;
}

.tabWorkFilterTitle:not(:first-child) {
    border-left: none;
}

.tabWorkFilterTitle:hover,
.tabWorkFilterTitle.active {
    position: relative;
}

.tabWorkFilterTitle:hover {
    color: #717171;
}

.tabWorkFilterTitle.active {
    color: #18CFAB;
}

.tabWorkFilterTitle:hover::after,
.tabWorkFilterTitle.active::after {
    content: "";
    position: absolute;
    left: -1px;
    top: -4px;
    width: calc(100% + 2px);
    height: 3px;
}

.tabWorkFilterTitle:hover::after {
    background-color: #10C0A0;
}

.tabWorkFilterTitle.active::after {
    background-color: #18CFAB;
}

.worksGallery,
.newsGallery {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.workGalleryItem {
    width: 285px;
    height: 207px;
    position: relative;
}

.workGalleryItemImage {
    width: 100%;
    height: 100%;
}

.secWorksBtn,
.secBestImagesBtn {
    margin: 0 0 100px;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.btnIconPlus {
    margin-right: 16px;
    font-size: 17px;
}

.workGalleryItemDesc {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #F8FCFE;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-top: 4px solid #18CFAB;
}

.workGalleryItemDescBtns {
    margin-bottom: 20px;
    display: flex;
}

.workGalleryItemDescBtn {
    margin: 0 2px;
    width: 40px;
    height: 40px;
    border: 1px solid #18CFAB;
    border-radius: 100%;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.workGalleryItemDescBtn:hover {
    border: 2px solid #009F7B;
}

.workGalleryItemDescBtn.btnLink {
    background-color: #F8FCFE;
    color: #18CFAB;
}

.workGalleryItemDescBtn.btnSearch {
    background-color: #18CFAB;
    color: #FFF;
}

.workGalleryItemDescTitle {
    margin: 14px 0;
    font-size: 24px;
    font-weight: bold;
    color: #18CFAB;
    text-transform: uppercase;
}

.workGalleryItemDescType {
    font-weight: 200;
    color: #8A8A8A;
    text-transform: capitalize;
}

.hide {
    display: none;
}

.secNews {
    background-color: #FFF;
}

.newsGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 0;
}

.newsGalleryItem {
    margin-bottom: 44px;
    width: 265px;
    height: 281px;
    padding-bottom: 44px;
    border: 1px solid #ECECEC;
    background-color: #F8FCFE;
    text-align: left;
    position: relative;
}

.newsGalleryItemLink {
    text-decoration: none;
}

.newsGalleryItemImage {
    width: 263px;
    height: 208px;
}

.newsGalleryItemTitle {
    padding: 14px;
    font-size: 18px;
    font-weight: bold;
    color: #717171;
    text-transform: capitalize;
}

.newsGalleryItemDetails {
    padding-left: 16px;
    font-size: 14px;
    color: #777777;
}

.newsGalleryItemDate {
    position: absolute;
    top: 0;
    right: 0;
    width: 69px;
    height: 67px;
    padding: 14px;
    background-color: #203E38;
    color: #FFF;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.newsGalleryItem:hover .newsGalleryItemTitle {
    color: #18CFAB;
}

.newsGalleryItem:hover .newsGalleryItemDate {
    background-color: #18CFAB;
}

.secClientFeedback {
    height: 852px;
    background-color: #2e4a5b;
    position: relative;
}

.secClientFeedbackBackLayer2{
    width: 100%;
    height: 100%;
    background-image: url(../images/sections_background/section-3.jpg);
    background-position: bottom;
    background-size: cover;
    opacity: .8;

    position: absolute;
    left: 0;
    top: 0;
}

.secClientFeedbackBackLayer3{
    width: 100%;
    height: 100%;
    background-image: url(../images/sections_background/section-3-layer3.png);
    opacity: .5;

    position: absolute;
    left: 0;
    top: 0;
}

.secClientFeedback .secHeader {
    color: #FFF;
}

.clientFeedbackDetailList {
    width: 1160px;
}

.clientFeedbackDetailItem:focus {
    outline: none;
}

.clientFeedbackDetailItem,
.clientFeedbackDetailItemText,
.clientFeedbackDetailAuthor {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    color: #BBBBBB;
    font-size: 16px;
    line-height: 2em;
    text-align: center;
}

.clientFeedbackDetailItem {
    margin: 40px 0;
}
.clientFeedbackDetailQuote {
    width: 45px;
    height: 31px;
}

.clientFeedbackDetailText {
    padding: 44px 0;
}

.clientFeedbackDetailAuthorName {
    font-weight: bold;
    text-transform: uppercase;
    color: #18CFAB;
}

.clientFeedbackDetailItemImage {
    margin-top: 25px;
    width: 165px;
    height: 164px;
    position: relative;
}

.clientFeedbackFotoBackLayer{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100%;
    background-color: #1FDAB5;
    opacity: 0.2;
}

.clientFeedbackDetailImage {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 144px;
    height: 143px;
    border: 3px solid #18CFAB;
    border-radius: 100%;
    object-fit: cover;
}

.clientFeedbackSlider {
    width: 367px;
}

.clientFeedbackSliderItem {
    width: 70px;
    height: 80px;
    position: relative;
}

.clientFeedbackSliderItemFoto {
    margin-top: 10px;
    width: 70px;
    height: 70px;
    position: relative;
    transition: transform 500ms;
    cursor: pointer;
}

.clientFeedbackSliderItem.slick-current .clientFeedbackSliderItemFoto,
.clientFeedbackSliderItemFoto:hover {
    transform: translate3d(0, -10px, 0);
}

.clientFeedbackSliderFotoBackLayer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100%;
    background-color: #1FDAB5;
    opacity: 0.2;
}

.clientFeedbackSliderFoto {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    object-fit: cover;
}

.clientFeedbackSliderItem.slick-current .clientFeedbackSliderFoto {
    border: 1px solid #18CFAB;
}

.sliderPrevArrow,
.sliderNextArrow {
    font-size: 14px;
    position: absolute;
    top: 50%;

    display: block;

    width: 31px;
    height: 31px;
    padding: 8px;
    transform: translate(0, -50%);

    cursor: pointer;

    color: #BBBBBB;
    border: 1px solid #BBBBBB;
    background: transparent;
}

.sliderPrevArrow:hover,
.sliderPrevArrow:focus,
.sliderNextArrow:hover,
.sliderNextArrow:focus {
    color: white;
    border: none;
    background: #18CFAB;
}

.sliderPrevArrow {
    left: -60px;
}

.sliderNextArrow {
    right: -60px;
}


.secBestImages {
    background-color: #F8FCFE;
}

.secBestImages .secHeader {
    text-transform: none;
}

.grid {
    padding: 40px 0;
}

.gridItem,
.gridInnerItem {
    float: left;
    position: relative;
}

.gridItem {
    width: 370px;
    margin-bottom: 20px;
}

.gridInnerItem {
    margin: 0 3px 3px 0;
}

.gridItem img, 
.gridInnerItem img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.gridItemHover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}

.gridItemBtns {
    height: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.gridItemBtn {
    margin: 0 2px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #18CFAB;
    color: #FFF;
    cursor: pointer;
}

.gridItemBtn:hover {
    background-color: #10C0A0;
}

.footer {
    background-color: #22353F;
}

.footerCopyright {
    padding: 48px;
    text-align: center;
    color: #AEAEAE;
    font-size: 14px;
}

.footerCopyrightName {
    color: #18CFAB;
}
